html{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
*{  box-sizing: border-box;
    margin:0;  
    padding:0px; 
    color:white;  
    /* background-color: red; */
  }  
   .title{  
    cursor:pointer; 
    font-weight: 200px; 
   }  
   /*Properties for Nav-bar*/  
   .navbar{  
    display:flex;  
    top:0;  
    height:10vh;  
    justify-content:space-between;  
    align-items:center;   
    padding:0px 20px;  
    background-color:rgb(255,138,0);  
   }  

   /*list of navbar */
   .nav-sub{  
    display:flex;  
    justify-content:space-between;  
   }  
   .list-item {  
    padding:10px;  
    list-style:none;  
   }  
   .nav-link{  
    color:inherit;  
    text-decoration:none;  
   }

    /*Properties for Hamburger*/  
 .ham{  
    display:none;  
    padding:5px;  
    cursor:pointer;  
   }  
   .bar1,.bar2,.bar3{  
    display:block;  
    width:35px;  
    height:3px;  
    margin:5px auto;  
    background-color:#101010;  
    color:white;
    transition: 0.4s;  
   } 
   /*image */
   
   #shop_image {
     width:100%;
     height:100%;
   }
@media only screen and (min-width:577px){ 
   /*category container */
   .category-container{
    display:flex;
    flex-direction: column;
    /* border:solid 2px blue; */
    margin-top:2rem;
    margin-bottom:2rem;
  }

  .categories{
    display:flex;
    flex-direction: row;
    /* height:30rem; */
    /* border:solid 2px red; */
    /* flex-wrap:wrap; */
    justify-content: space-between; 
  }
  #categories-heading{
    color:black; 
    font-size:1.5em;  
    margin-top:1rem;
    margin-bottom:1rem;

  }
  h1{
    color:black;
    font-size: 1em;;
  }
  .clothes_type{
     width:25rem;
    height:25rem; 
    /* border:solid 2px yellow; */
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
  }
  .caty_image{
    /* width:100%; */
    width:90%;
    height:80%;
  }

   /*featured container*/
   .featured_container{
    display:flex;
    flex-direction: column;
    /* border:solid 2px red; */
    align-items:center;
    width:100%;
  }
  #feature_heading{
    font-weight:200px;
  }
  .bestseller{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:13em;
    margin:1.5em;
    border-radius:10px;
    background-color: rgb(255,252,201);
    gap:0.5em;
    padding:1em;
    text-align:center;
    
  }
  .cloth_image{
    width:90%;
    margin:0 auto;
    height:70%;
  }
  .cloth_container{
    display:flex;
    width:100%;
    justify-content: center;

  }
  /*footer */

  footer{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    height:12rem;
  }
  .info_links{
    display: flex;
    flex-direction: row;
    width:9em;
    justify-content: space-between;
  }
  .tag{
    color:white;
    text-align:center;
    height: 6em;
    width:5em;
    /* border:solid 2px white; */
    padding-top:1rem;

  }
  .all_tag{
    height:10rem;
    width:20rem;
    display :flex;
    flex-direction: column;
    justify-content:space-around;
    /* border:solid 2px white; */
    flex-wrap:wrap;
    justify-content:center;
  }

}

   @media only screen and (max-width:576px){  
    /* *{  
      overflow:hidden;  
     }   */
    .nav-sub{  
      /* position:absolute;    */
      position:fixed;
      top:10vh;  
      right:0px;  
      flex-direction:column;  
      background-color:rgb(0,0,0,0.75);  
      color:white;
      border-radius:0px 0px 0px 20px;  
      transition:transform 0.3s ease-in;  
      transform:translate(100%);  
     }  
    .nav-change{  
      transform:translate(0%);  
     }  
    .ham{  
      display:block;  
     }  
    .change .bar1 {  
     transform: rotate(45deg) translate(8px,3px);  
    }  
    .change .bar2 {  
     opacity: 0;  
    }  
    .change .bar3 {  
     transform: rotate(-45deg) translate(8px,-3px);  
    }  
    

    /* category container */
    .category-container{
      display:flex;
      flex-direction: column;
      /* border:solid 2px blue; */
      margin-top:2rem;
      margin-bottom:2rem;
    }
    .categories{
      display:flex;
      flex-direction: row;
      /* height:30rem; */
      /* border:solid 2px red; */
      /* flex-wrap:wrap; */
      justify-content: space-between; 
    }
    #categories-heading{
      color:black; 
      font-size:1.5em;  
      margin-top:1rem;
      margin-bottom:1rem;

    }
    h1{
      color:black;
      font-size: 1em;;
    }
    .clothes_type{
       width:8em;
      height:8em; 
      /* border:solid 2px yellow; */
      display:flex;
      flex-direction: column;
      align-items:center
    }
    .caty_image{
      /* width:100%; */
      width:90%;
      height:80%;
    }

    /*featured container*/
    .featured_container{
      display:flex;
      flex-direction: column;
      /* border:solid 2px red; */
      align-items:center;
    }
    #feature_heading{
      font-weight:200px;
    }
    .bestseller{
      display:flex;
      flex-direction: column;
      justify-content: center;
      width:13em;
      margin:1.5em;
      border-radius:10px;
      background-color: rgb(255,252,201);
      gap:0.5em;
      padding:1em;
      text-align:center;
      
    }
    .cloth_image{
      width:90%;
      margin:0 auto;
      height:70%;
    }
    .cloth_container{
      display:flex;
      flex-direction: column;
      
    }
  

   /*footer */

  footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    height:15rem;
  }
  .info_links{
    display: flex;
    flex-direction: row;
    width:9em;
    justify-content: space-between;
  }
  .tag{
    color:white;
    text-align:center;
  }
  .all_tag{
    height:7rem;
    display :flex;
    flex-direction: column;
    justify-content:space-around;
    /* border:solid 2px white; */
  }


  
  
}
@media only screen and (max-width:576px){
/*product details */
.product_details{
  display:flex;
  flex-direction: column;
  background-color:lightgray;
  width:90%;
  margin:0 auto;
  color:black;
  align-items: center;
  text-align: left;
  margin-top:2rem;
  border-radius:10px;

}
.checked{
  color:orange;
}

#product_img{
  margin-top:2rem;
  width:80%;
  height:50%;
}
.about{
  text-align:center;
}
.btn_div{
  display:flex;
}
#buy{
  background-color: orange;
  color:black;
  padding:1rem;
  border-style:none;
  border-radius:10px;
  margin:1rem;
}
#add_to_cart{
  background-color: orange;
  color:black;
  padding:1rem;
  border-style:none;
  border-radius:10px;
  margin:1rem;

}
.frock_details{
  display:flex;
  flex-direction: column;
  align-items:center;
}
}

/*desktop */
@media only screen and (min-width:577px){
  /*product details */
  .product_details{
    display:flex;
  
    background-color:lightgray;
    width:90%;
    margin:0 auto;
    color:black;
    align-items: center;
    text-align: left;
    margin-top:2rem;
    border-radius:10px;
  
  }
  .checked{
    color:orange;
  }
  
  #product_img{
    margin-top:2rem;
    width:50%;
    height:50%;
  }
  .about{
    text-align:center;
  }
  .btn_div{
    display:flex;
  }
  #buy{
    background-color: orange;
    color:black;
    padding:1rem;
    border-style:none;
    border-radius:10px;
    margin:1rem;
  }
  #add_to_cart{
    background-color: orange;
    color:black;
    padding:1rem;
    border-style:none;
    border-radius:10px;
    margin:1rem;
  
  }
  }

